$smSmart: '(min-device-width: 320px) and (max-device-width: 480px)';
$smart: '(min-width: 481px) and (max-width: 650px)';
$tablet: '(min-width: 651px) and (max-width: 1025px)';
$desktop: '(min-width: 1026px)';